Source: aws-rotate-key
Maintainer: Stefan Sundin <stefan@stefansundin.com>
Section: devel
Priority: optional
Build-Depends:
 debhelper (>= 13),
 debhelper-compat (= 13),
 dh-golang,
Build-Depends-Arch:
 golang-any (>= 1.19),
 golang-github-aws-aws-sdk-go-v2-dev,
Standards-Version: 4.6.2
Rules-Requires-Root: no
Homepage: https://github.com/stefansundin/aws-rotate-key
XS-Go-Import-Path: github.com/stefansundin/aws-rotate-key

Package: aws-rotate-key
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Static-Built-Using: ${misc:Static-Built-Using}
Description: Easily rotate your AWS access key.
 When run, the program will list the current access keys associated with your
 IAM user, and print the steps it has to perform to rotate them.
 It will then wait for your confirmation before continuing.
